.resetPasswordPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    width: 100%;
    /* border: 2px solid red; */
}

.resetPasswordFormWrapper {
    animation-name: showFromRight;
    animation-duration: 500ms;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.resetPasswordPage .confirmBtn::after { 
    content: "Confirm";
}


.resetPasswordPage form > .text-center,
.resetPasswordPage form > .inputAndErrorDivResetPassword,
.resetPasswordPage form > .submitResetPasswordBtn
{
    animation-name: showFromLeft;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.resetPasswordPage form > .text-center { animation-delay: 0.2s; }
.resetPasswordPage form > .inputAndErrorDivResetPassword:nth-of-type(1) { animation-delay: 0.4s; }
.resetPasswordPage form > .inputAndErrorDivResetPassword:nth-of-type(2) { animation-delay: 0.6s; }
.resetPasswordPage form > .submitResetPasswordBtn { animation-delay: 0.8s; }

.inputAndErrorDivResetPassword .inputLabel {
    animation-name: showFromRight;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
    opacity: 0;
    /* border: 2px solid red; */
}

.inputAndErrorDivResetPassword:nth-of-type(1) .inputLabel { animation-delay: .8s; }
.inputAndErrorDivResetPassword:nth-of-type(2) .inputLabel { animation-delay: 1s; }

.resetPasswordFormSlideOut {
    animation: 0.5s rfSlideOut forwards;
}

.submitResetPasswordBtn::after { content: "Submit"; }

.tokenError {
    margin-top: 50px;
}

@media screen and (max-width: 460px) and (orientation: portrait) {
    .resetPasswordFormWrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        /* border: 2px solid black; */
    }

    .resetPasswordPage .resetPasswordTilt {
        width: 90%;
        padding-left: 0px;
        padding-right: 0px;
        /* border: 1px solid red; */
        padding-bottom: 0px;
    }

    .resetPasswordPage .resetPasswordTilt .inner-element {
        width: 80%;
        /* border: 1px solid cyan; */
        padding-left: 0px;
        padding-right: 0px;
        /* padding: 0px !important; */
    }

    .resetPasswordPage .resetPasswordTilt .inputAndErrorDiv {
        width: 100%;
        /* border: 2px solid red; */
    }
    
    .resetPasswordPage .resetPasswordTilt input {
        width: 100%;
    }
}